body {
	margin: 0;
	font-family: "Lato", sans-serif;
	color: #8C92AF;
}

.rightPanel {
	margin-top: 10px;
	height: auto;
	align-content: right;
	border-radius: 20px;
}

/* .leftPanel {
	margin-top: 20px;
	height: auto;
	align-content: left;
	border-radius: 20px;
} */

.col-sm-8 {
	width: 35.66666667%;
}

#container {
    width: 300px;
    background-color: #ffcc33;
    margin: auto;
}