<script type="text/javascript" src="/js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script type="text/javascript" src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<link rel="stylesheet" type="text/css" href="css/customermaster.css">
<link rel="stylesheet" type="text/css" href="css/formbody.css">
<script type="text/javascript" src="/js/customermaster.js" th:src="@{/js/customermaster.js}" ></script>


<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="home.html"><!-- <img src="http://jskrishna.com/work/merkury/images/logo.png" alt="merkery_logo" class="hidden-xs hidden-sm">
                        <img src="http://jskrishna.com/work/merkury/images/circle-logo.png" alt="merkery_logo" class="visible-xs visible-sm circle-logo"> -->
                    </a>
                </div>
                <div class="navi">
                    <ul>
                        <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Product Advisor</span></a></li>
                        <!-- <li><a href="#"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Workflow</span></a></li>
                        <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Statistics</span></a></li>
                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Calender</span></a></li>
                        <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Users</span></a></li>
                        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Setting</span></a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                    <header>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            <div class="search hidden-xs hidden-sm">
                                <!-- <input type="text" placeholder="Search" id="search"> -->
								<div class="stepwizard">
									<div class="stepwizard-row setup-panel">
										<div class="stepwizard-step">
											<a href="#step-1" type="button"
												class="btn btn-primary btn-circle">1</a>
											<p>Company Details</p>
										</div>
										<div class="stepwizard-step">
											<a href="#step-2" type="button"
												class="btn btn-default btn-circle" disabled="disabled">2</a>
											<p>Metrics</p>
										</div>
										<div class="stepwizard-step">
											<a href="#step-3" type="button"
												class="btn btn-default btn-circle" disabled="disabled">3</a>
											<p>Assessment Scope</p>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </header>
                </div>
                <div class="user-dashboard">
                    
    
                    <div class="leftPanel">
  <form id ="customerForm" class="form-horizontal" action="#" th:action="@{/addCustomer}" th:object="${customerMaster}"
					method="post">
					<div class="row setup-content" id="step-1">
   <div class="form-group">
      <label class="control-label col-sm-3" for="companyName">Company Name:</label>
      <div class="col-sm-8">
        <input type="text" th:field="*{customerName}" required="required" class="form-control inputFields"  id="companyName" placeholder="Enter Company" name="companyName">
      </div>
      </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="industry">Industry:</label>
      <div class="col-sm-8">
        <input type="text" th:field="*{industry}" required="required" class="form-control inputFields"  id="industry" placeholder="Enter Industry" name="industry">
      </div>
    </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="countryHQ">Country HQ:</label>
      <div class="col-sm-8">
        <input type="text" th:field="*{countryhq}" required="required" class="form-control inputFields"  id="countryHQ" placeholder="Enter Country HQ" name="countryHQ">
      </div>
    </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="revenue">Revenue:</label>
      <div class="col-sm-8">
        <input  type="number"  step="any" th:field="*{revenue}" required="required" class="form-control inputFields"  id="revenue" placeholder="Enter Revenue" name="revenue">
      </div>
    </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="numOfEmp">No. of Employees:</label>
      <div class="col-sm-8">
        <input type="number" th:field="*{noOfEmployees}" required="required" class="form-control inputFields"  id="numOfEmp" placeholder="Enter Number Of Employees" name="numOfEmp">
      </div>
    </div>
     <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
    </div>

<div class="row setup-content" id="step-2">
<div class="form-group">
      <label class="control-label col-sm-3" for="inventory">Annual Inventory:</label>
      <div class="col-sm-8">
        <input type="number" th:field="*{annualInventory}"  class="form-control inputFields"  id="inventory" placeholder="Enter Annual Inventory" name="inventory">
      </div>
    </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="cogs">COGS As % Revenue:</label>
      <div class="col-sm-8">
        <input type="number" th:field="*{cogsAsPercentage}" class="form-control inputFields"  id="cogs" placeholder="Enter COGS" name="cogs">
      </div>
    </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="costOfCapital">Cost of Capital:</label>
      <div class="col-sm-8">
        <input type="number" th:field="*{cogsCapital}"  class="form-control inputFields"  id="costOfCapital" placeholder="Enter Cost Of Capital" name="costOfCapital">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="sgaExpense">SG&A Expenses:</label>
      <div class="col-sm-8">
        <input type="number" th:field="*{sgaExpenses}"  class="form-control inputFields"  id="sgaExpenses" placeholder="Enter SG&A Expenses:" name="sg&aExpense">
      </div>
    </div>   
  
    <div class="form-group">
      <label class="control-label col-sm-3" for="daysToFinClose">Days To Fin Close:</label>
      <div class="col-sm-8">
        <input type="number" th:field="*{daysFinClose}"   class="form-control inputFields"  id="daysToFinClose" placeholder="Enter Days To Fin Close" name="daysToFinClose">
      </div>
    </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="dso">DSO:</label>
      <div class="col-sm-8">
        <input type="number" th:field="*{dso}"  class="form-control inputFields"  id="dso" placeholder="Enter DSO" name="dso">
      </div>
    </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="hrWrkPrDay">Hours Work Per day:</label>
      <div class="col-sm-8">
        <input type="number"  th:field="*{hoursWorkedPerDay}"  class="form-control inputFields"  id="hrWrkPrDay" placeholder="Enter Hours Work Per Day:" name="hrWrkPrDay">
      </div>
    </div>


<div class="form-group">
      <label class="control-label col-sm-3" for="ItBudget">IT Budget as % of Revenue:</label>
      <div class="col-sm-8">
        <input type="number" th:field="*{itBudget}"  class="form-control inputFields"  id="ItBudget" placeholder="Enter IT Budget As % Of Revenue:" name="ItBudget">
      </div>
    </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="operatingExpenses">Operating Expenses:</label>
      <div class="col-sm-8">
        <input type="number" th:field="*{operatingExpenses}"  class="form-control inputFields"  id="operatingExpenses" placeholder="Enter operating Expenses:" name="operatingExpenses">
      </div>
    </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="oprtngProfitMargin">Operating Profit Margin:</label>
      <div class="col-sm-8">
        <input type="number" th:field="*{operatingProfitMargin}"  class="form-control inputFields"  id="oprtngProfitMargin" placeholder="Enter Operating Profit Margins:" name="oprtngProfitMargin">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="r&dExpense">R&D Expenses:</label>
      <div class="col-sm-8">
        <input type="number" th:field="*{rndExpenses}"  class="form-control inputFields"  id="randdExpense" placeholder="Enter R&D Expenses:" name="r&dExpense">
      </div>
    </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="remarks">Remarks:</label>
      <div class="col-sm-8">
	
        <textarea type="text" th:field="*{remarks}"  class="form-control inputFields" rows="4"  id="remark" placeholder="Enter Remarks" name="remark"></textarea>
      </div>
        </div>
         <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
    </div>
    
    <div class="row setup-content" id="step-3">
        <div class="col-xs-12">
            <div class="col-md-12">
                <h3>Submit</h3>
                <button class="btn btn-success btn-lg pull-right" type="submit">Submit</button>
            </div>
        </div>
    </div>
  </form>
</div>
</div>
</div>
</div>
</div>
</body>