<script type="text/javascript" src="/js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script type="text/javascript" src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<link rel="stylesheet" type="text/css" href="css/customermaster.css">
<link rel="stylesheet" type="text/css" href="css/formbody.css">
<script type="text/javascript" src="/js/customermaster.js" th:src="@{/js/customermaster.js}" ></script>


<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="home.html"><!-- <img src="http://jskrishna.com/work/merkury/images/logo.png" alt="merkery_logo" class="hidden-xs hidden-sm">
                        <img src="http://jskrishna.com/work/merkury/images/circle-logo.png" alt="merkery_logo" class="visible-xs visible-sm circle-logo"> -->
                    </a>
                </div>
                <div class="navi">
                    <ul>
                     	<li><a href="/"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                        <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Product Advisor</span></a></li>
                       <!-- <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Statistics</span></a></li>
                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Calender</span></a></li>
                        <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Users</span></a></li>
                        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Setting</span></a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                    <header>
                        <div class="col-md-11">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            <div class="search hidden-xs hidden-sm">
                                <!-- <input type="text" placeholder="Search" id="search"> -->
								<div class="stepwizard">
									<div class="stepwizard-row setup-panel">
										<div class="stepwizard-step">
											<a href="#step-1" type="button"
												class="btn btn-primary btn-circle">1</a>
											<p>Company Details</p>
										</div>
										<div class="stepwizard-step">
											<a href="#step-2" type="button"
												class="btn btn-default btn-circle" disabled="disabled">2</a>
											<p>Metrics</p>
										</div>
										<div class="stepwizard-step">
											<a href="#step-3" type="button"
												class="btn btn-default btn-circle" disabled="disabled">3</a>
											<p>Assessment Scope</p>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </header>
                </div>
                <div class="user-dashboard">
                    
    
                   <!--  <div class="leftPanel"> -->
  <form id ="customerForm" class="form-horizontal" action="#" th:action="@{/addCustomer}" th:object="${customerMaster}"
					method="post">
					<div class="row setup-content" id="step-1">
   <div class="form-group">
      <label class="control-label col-sm-3" for="companyName">Company Name:</label>
      <div class="col-sm-8">
        <input type="text" th:field="*{customerName}" maxlength="150" required="required" class="form-control inputFields textNumber"  id="companyName" placeholder="Enter Company" name="companyName">
      </div>
      </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="industry">Industry:</label>
      <div class="col-sm-8">
        <input type="text" th:field="*{industry}" maxlength="150" required="required" class="form-control inputFields textNumber"  id="industry" placeholder="Enter Industry" name="industry">
      </div>
    </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="countryHQ">Country HQ:</label>
      <div class="col-sm-8">
        <input type="text" th:field="*{countryhq}" maxlength="150" required="required" class="form-control inputFields textNumber"  id="countryHQ" placeholder="Enter Country HQ" name="countryHQ">
      </div>
    </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="revenue">Revenue:</label>
      <div class="col-sm-8">
        <input  type="text"  required="required" maxlength="20" th:field="*{revenue}" class="form-control inputFields number"  id="revenue" placeholder="Enter Revenue" name="revenue">
      </div>
    </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="numOfEmp">No. of Employees:</label>
      <div class="col-sm-8">
        <input type="text" th:field="*{noOfEmployees}" maxlength="20" required="required" class="form-control inputFields onlyNumber"  id="numOfEmp" placeholder="Enter Number Of Employees" name="numOfEmp">
      </div>
    </div>
     <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
    </div>
	
<div class="row setup-content" id="step-2">
<div class="form-group">
      <label class="control-label col-sm-3" for="inventory">Annual Inventory:</label>
      <div class="col-sm-8">
        <input type="text"  th:field="*{annualInventory}" maxlength="20" class="form-control inputFields onlyNumber"  id="inventory" placeholder="Enter Annual Inventory" name="inventory">
      </div>
    </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="cogs">COGS As % Revenue:</label>
      <div class="col-sm-8">
        <input type="text"  th:field="*{cogsAsPercentage}" maxlength="20" class="form-control inputFields number"  id="cogs" placeholder="Enter COGS" name="cogs">
      </div>
    </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="costOfCapital">Cost of Capital:</label>
      <div class="col-sm-8">
        <input type="text"  th:field="*{cogsCapital}" maxlength="20" class="form-control inputFields number"  id="costOfCapital" placeholder="Enter Cost Of Capital" name="costOfCapital">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="sgaExpense">SG&A Expenses:</label>
      <div class="col-sm-8">
        <input type="text"  th:field="*{sgaExpenses}" maxlength="20" class="form-control inputFields number"  id="sgaExpenses" placeholder="Enter SG&A Expenses:" name="sg&aExpense">
      </div>
    </div>   
  
    <div class="form-group">
      <label class="control-label col-sm-3" for="daysToFinClose">Days To Fin Close:</label>
      <div class="col-sm-8">
        <input type="text"  th:field="*{daysFinClose}" maxlength="20"  class="form-control inputFields onlyNumber"  id="daysToFinClose" placeholder="Enter Days To Fin Close" name="daysToFinClose">
      </div>
    </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="dso">DSO:</label>
      <div class="col-sm-8">
        <input type="text"  th:field="*{dso}" maxlength="20" class="form-control inputFields onlyNumber"  id="dso" placeholder="Enter DSO" name="dso">
      </div>
    </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="hrWrkPrDay">Hours Work Per day:</label>
      <div class="col-sm-8">
        <input type="text"  th:field="*{hoursWorkedPerDay}"  class="form-control inputFields onlyNumber"  id="hrWrkPrDay" placeholder="Enter Hours Work Per Day:" name="hrWrkPrDay">
      </div>
    </div>


<div class="form-group">
      <label class="control-label col-sm-3" for="ItBudget">IT Budget as % of Revenue:</label>
      <div class="col-sm-8">
        <input type="text" th:field="*{itBudget}" maxlength="20"  class="form-control inputFields number"  id="ItBudget" placeholder="Enter IT Budget As % Of Revenue:" name="ItBudget">
      </div>
    </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="operatingExpenses">Operating Expenses:</label>
      <div class="col-sm-8">
        <input type="text"  th:field="*{operatingExpenses}" maxlength="20" class="form-control inputFields number"  id="operatingExpenses" placeholder="Enter operating Expenses:" name="operatingExpenses">
      </div>
    </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="oprtngProfitMargin">Operating Profit Margin:</label>
      <div class="col-sm-8">
        <input type="text"  th:field="*{operatingProfitMargin}" maxlength="20"  class="form-control inputFields number"  id="oprtngProfitMargin" placeholder="Enter Operating Profit Margins:" name="oprtngProfitMargin">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="r&dExpense">R&D Expenses:</label>
      <div class="col-sm-8">
        <input type="text"  th:field="*{rndExpenses}" maxlength="20" class="form-control inputFields number"  id="randdExpense" placeholder="Enter R&D Expenses:" name="r&dExpense">
      </div>
    </div>

<div class="form-group">
      <label class="control-label col-sm-3" for="remarks">Remarks:</label>
      <div class="col-sm-8">
        <textarea th:field="*{remarks}" maxlength="200" class="form-control inputFields textNumber" rows="4"  id="remark" placeholder="Enter Remarks" name="remark" required></textarea>
      </div>
        </div>
         <button class="btn btn-primary nextBtn btn-lg pull-right" type="submit" >Next</button>
    </div>
    
    <div class="row setup-content" id="step-3">
       

								<br />
								<h3 class="text-center col-md-12">Functional Scope
									Selection</h3>
								<br /> <br /> <br /> <br />
								<div class="col-md-12">
									<div class="form-group col-md-3">
										<input type="checkbox" id="finance" name="finance"> <label
											class="control-label" for="finance">Finance </label> <br />
										<br />
										<div class="row">
											<input type="checkbox" id="recToReport" name="recToReport">
											<label class="control-label" for="recToReport">Record
												to Report </label>
										</div>
										<br />
										<div class="row">
											<input type="checkbox" id="procdToPay" name="procdToPay">
											<label class="control-label" for="procdToPay">Proceed
												to Pay </label>
										</div>
										<br />
										<div class="row ">
											<input type="checkbox" id="billToCash" name="billToCash">
											<label class="control-label" for="billToCash">Bill To
												Cash </label>
										</div>
										<br />
										<div class="row">
											<input type="checkbox" id="plan&consol" name="plan&consol">
											<label class="control-label" for="plan&consol">Planning
												& Consolidation </label>
										</div>
									</div>

									<div class="form-group col-md-3">
										<input type="checkbox" id="supplyChain" name="supplyChain"><label
											class="control-label" for="supplyChain">Supply Chain
										</label> <br /> <br />
										<div class="row">
											<input type="checkbox" id="scmPlanning" name="scmPlanning">
											<label class="control-label" for="scmPlanning">SCM
												Planning </label>
										</div>
										<br />
										<div class="row">
											<input type="checkbox" id="sourding" name="sourding">
											<label class="control-label" for="sourding">Sourding
											</label>
										</div>
										<br />
										<div class="row ">
											<input type="checkbox" id="procurement" name="procurement">
											<label class="control-label" for="procurement">Procurement
											</label>
										</div>
										<br />
										<div class="row">
											<input type="checkbox" id="scmCollaboration"
												name="scmCollaboration"> <label
												class="control-label" for="scmCollaboration">SCM
												Collaboration</label>
										</div>
										<br />
										<div class="row">
											<input type="checkbox" id="valueChainExecution"
												name="valueChainExecution"> <label
												class="control-label" for="valueChainExecution">Value
												Chain Execution </label>
										</div>
										<br />
										<div class="row">
											<input type="checkbox" id="wareHouseMngmt"
												name="wareHouseMngmt"> <label class="control-label"
												for="wareHouseMngmt">Warehouse Management </label>
										</div>
									</div>

									<div class="form-group col-md-3">
										<input type="checkbox" id="custExp" name="custExp"> <label
											class="control-label" for="custExp">Customer
											Experience </label> <br /> <br />
										<div class="row">
											<input type="checkbox" id="marketing" name="marketing">
											<label class="control-label" for="marketing">Marketing
											</label>
										</div>
										<br />
										<div class="row">
											<input type="checkbox" id="sales" name="sales"> <label
												class="control-label" for="sales">Sales </label>
										</div>
										<br />
										<div class="row">
											<input type="checkbox" id="service" name="service"> <label
												class="control-label" for="service">Service </label>
										</div>
										<br />
										<div class="row">
											<input type="checkbox" id="priceQuote" name="priceQuote">
											<label class="control-label" for="priceQuote">Configure
												Price Quote </label>
										</div>
										<br />
										<div class="row">
											<input type="checkbox" id="contracts" name="contracts">
											<label class="control-label" for="contracts">Contracts
											</label>
										</div>
										<br />
										<div class="row">
											<input type="checkbox" id="ecommerce" name="ecommerce">
											<label class="control-label" for="ecommerce">Ecommerce
											</label>
										</div>
									</div>

									<div class="form-group col-md-3">
										<input type="checkbox" id="hcm" name="hcm"> <label
											class="control-label" for="hcm">HCM </label> <br /> <br />
										<div class="row">
											<input type="checkbox" id="coreHR" name="coreHR"> <label
												class="control-label" for="coreHR">CoreHR </label>
										</div>
										<br />
										<div class="row">
											<input type="checkbox" id="talentManagement"
												name="talentManagement"> <label
												class="control-label" for="talentManagement">Talent
												Management </label>
										</div>
										<br />
										<div class="row">
											<input type="checkbox" id="talentAcquisition"
												name="talentAcquisition"> <label
												class="control-label" for="talentAcquisition">Talent
												Acquisition </label>
										</div>
										<br />
										<div class="row">
											<input type="checkbox" id="payroll" name="payroll"> <label
												class="control-label" for="payroll">Payroll </label>

										</div>
										<br />
										<div class="row">
											<input type="checkbox" id="learning" name="learning">
											<label class="control-label" for="learning">Learning
											</label>
										</div>

									</div>
								</div>


								<button class="btn btn-success btn-lg pull-right" type="submit">Submit</button>
        
    </div>
  </form>
<!-- </div> -->
</div>
</div>
</div>
</div>
</body>